{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid mt-2 seleccion">
        <div class="row text-center">
            <div class="col-12">
                <div class="dropdown show">
                    <a class="btn btn-secondary btn-lg dropdown-toggle pruebaBoton" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecciona Proyecto
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="d">E-Inclusión</a>
                        <a class="dropdown-item" href="#">Innovación social</a>
                        <a class="dropdown-item" href="#">Educación para la ciudadanía</a>
                        <a class="dropdown-item" href="#">Cooperación para el desarrollo</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <a href="{{ path('homepage') }}" class="btn btn-lg  botonjove text-white mb-3 mt-5">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}
