{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}


{% block title %}
      Beneficiarias
{% endblock %}


{% block body %}
      <div class="container">
            <h1>Beneficiarias</h1>
            <div class="row d-flex justify-content-center">
                  <div class="col-6">
                        {{form_start(form)}}
                        {{form_widget(form)}}
                        {{form_end(form)}}
                       <button> 
                              <a href="{{(path('homepage',{'proy':proy, 'estado': "finalizar"}))}}">Finalizar Proyecto</a>
                       </button>
                  </div>
            </div>
      </div>
{% endblock %}