{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}


{% block title %}
      Tipo de financiación
{% endblock %}


{% block body %}
      <div class="container mb-5">
            <div class="row">
                  <div class="col-12">
                        <h1 class="tituloFormulario text-center">Tipo de Financiación</h1>
                  </div>
            </div>
      </div>
      <div class="container">
            <div class="row d-flex justify-content-center">
                  <div class="col-6 formulario">
                        {{form_start(form)}}
                        {{form_widget(form)}}
                        {{form_end(form)}}
                        <button class="btn btn-primary">
                              <a class="text-white" href="{{(path('menu',{'proy':proy, 'estado':"finalizar"}))}}">Finalizar Proyecto</a>
                        </button>
                  </div>
            </div>
      </div>
{% endblock %}