{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-8">
                <img class="imgMain img-fluid rounded" src="images/imgMain.jpeg" alt="">
            </div>
            <div class="col-4">
                <a href="{{ path('homepage') }}" class="btn btn-primary btn-lg btn-block botonjove text-white mb-3">Añadir proyecto</a>
                <a href="{{ path('seleccionProyecto') }}" class="btn btn-primary btn-lg btn-block botonjove text-white mb-3">Listado</a>
                <!--<a class="btn btn-primary btn-lg btn-block botonjove text-white mb-3">Resumen</a>-->
            </div>
        </div>
    </div>
{% endblock %}



