{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3">
        <hr>
        <div class="row d-flex align-items-center">
            <div class="col-8">
                <img class="imgMain img-fluid rounded" src="images/imgMain.jpeg" alt="">
            </div>
            <div class="col-4">
                <a class="btn btn-primary btn-lg btn-block botonjove text-white mb-3">Añadir proyecto</a>
                <a class="btn btn-primary btn-lg btn-block botonjove text-white mb-3">Listado</a>
                <a class="btn btn-primary btn-lg btn-block botonjove text-white mb-3">Resumen</a>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-2">
                <a href="" class="btn btn-primary btn-lg btn-block botonjove text-white">Salir</a>
            </div>
        </div>
    </div>
{% endblock %}



