.logoCabecera {
    width: 175px;
    height: 65px;
}

.botonjove {
    background: #d21e45;

}

.botonjove:hover {
    background: #d21e56;

}

/*--- Selección Proyecto ---*/

.seleccion {
    padding: 60px;
    background-image: url("../images/manos.jpg");
    background-size: cover;
    height: 25rem;
    background-position-y: -150px;
}

.pruebaBoton {
    padding-right: 4%;
    text-align: center;
}