body{
    font-family: 'Raleway', sans-serif;
}


.logoCabecera {
    width: 175px;
    height: 65px;
}

.botonjove {
    background: #d21e45;

}

.botonjove:hover {
    background: #d21e56;

}

/*--- SELECCIÓN PROYECTO ---*/

.seleccion {
    padding: 60px;
    background-image: url("../images/manos.jpg");
    background-size: cover;
    height: 25rem;
    background-position-y: -150px;
}

.pruebaBoton {
    padding-right: 2.7%;
    text-align: center;
    background-color: #d21e45 !important;
}

.pruebaBoton:hover{
    background-color: #d21e56;
}

/*--- FORMULARIOS ---*/

.tituloFormulario {
    font-weight: 300;
    letter-spacing: 0.7rem;
    font-size: 4rem;
    color: #355450;
}

.formulario {
    border: 0.5px solid #d8db92;
    border-radius: 15px;
    padding: 35px 85px;
    background-color: #bbbfbf;
}
